<form action="?page=accs_update&id=[_id]" method="post" name="form">
<table class="block" width="100%" border="0" cellpadding="0" cellspacing="1" align="center">
	<tr><td class="header_block" width="16" height="16"><font>Основное</font></td></tr>
	<tr>
		<td class="body_block" style="border-bottom: none;">
			<table width="100%" border="0" cellpadding="5" cellspacing="0">
				<tr><td class="bottom_cfg"><input tabindex="1" type="text" name="update_post_preview_ship" value="[_preview_ship]" style="width:200px;"/></td><td class="bottom_cfg" width="100%" align="left"><font>Корабль</font></td></tr>
				<tr><td class="bottom_cfg" colspan="2"><legend>Заголовок</legend><div align="center"><input tabindex="1" type="text" name="update_post_title" value="[_title]" style="width:95%"></div></td>
				<tr><td class="bottom_cfg"><input tabindex="1" type="text" name="update_post_id_acc" value="[_id_acc]" style="width:200px;"/></td><td class="bottom_cfg" width="100%" align="left"><font>id</font></td></tr>
				<tr><td class="bottom_cfg"><input tabindex="1" type="text" name="update_post_server" value="[_server]" style="width:200px;"/></td><td class="bottom_cfg" width="100%" align="left"><font>Сервер</font></td></tr>
				<tr><td class="bottom_cfg"><input tabindex="1" type="text" name="update_post_corp" value="[_corp]" style="width:200px;"/></td><td class="bottom_cfg" width="100%" align="left"><font>Компания</font></td></tr>
				<tr><td class="bottom_cfg"><input tabindex="1" type="text" name="update_post_level" value="[_level]" style="width:200px;"/></td><td class="bottom_cfg" width="100%" align="left"><font>Игровой уровень</font></td></tr>
				[_drones]
				[_rank]
				[_exp]
				[_honor]
				[_uri]
				[_cr]
				[_jackpot]
				[_prog]
				[_hangar]
				[_tech]
			</table>
		</td>
	</tr>
	[_armor]
	<tr><td class="header_block" height="16"><font>Оружие | Генераторы</font></td></tr>
	<tr>
		<td class="body_block" style="border-bottom: none;">
			<table width="100%" border="0" cellpadding="5" cellspacing="0">
				[_lf3]
				[_lf4]
				[_g3n7900]
				[_sg3nb02]
			</table>
		</td>
	</tr>
	[_armor]
	[_ammo]
	<tr><td class="header_block" height="16"><font>Боеприпасы</font></td></tr>
	<tr>
		<td class="body_block" style="border-bottom: none;">
			<table width="100%" border="0" cellpadding="5" cellspacing="0">
				[_mcb25]
				[_mcb50]
				[_sab50]
				[_ucb100]
				[_rsb75]
				[_cbo100]
				[_job100]
				[_plt2021]
				[_plt3030]
				[_dcr250]
				[_hstrm01]
				[_ubr100]
				[_sar02]
				[_cbr]
				[_acm1]
				[_empm01]
				[_subm01]
				[_ddm01]
				[_slm01]
				[_emp01]
			</table>
		</td>
	</tr>
	[_ammo]
	<tr><td class="header_block" height="16"><font>Дополнительное описание</font></td></tr>
	<tr>
		<td class="body_block" style="border-bottom: none;">
			<table width="100%" border="0" cellpadding="5" cellspacing="0">
				[_more]
				<tr><td class="bottom_cfg" colspan="2"><legend>Примечание администрации:</legend><div align="center"><textarea tabindex="1" name="update_post_admin_text" rows="5" dir="ltr" style="width:95%">[_admin_text]</textarea></div></td></tr>
				<tr><td class="bottom_cfg"><input tabindex="1" type="text" name="update_post_price" value="[_price]" style="width:200px;"/></td><td class="bottom_cfg" width="100%" align="left"><font>Цена</font></td></tr>
				<tr><td class="bottom_cfg" colspan="2" align="center"><input type="submit" class="button" value="Сохранить"></td></tr>
			</table>
		</td>
	</tr>
</table>
</form>
	