<table class="block" width="100%" border="0" cellpadding="0" cellspacing="1">
    <tr>
        <td class="header_block" width="16" height="16"><font>Новые аккаунты</font></td>
    </tr>
    [_while]
    <tr>
        <td class="body_block">
            <table width="100%" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td class="bottom_cfg" width="16"><a tabindex="2" href="?page=accs_config&id=[_id]" title="Настройки"><img src="templates/img/icons/config.png" border="0"></a></td>
                    <td class="bottom_cfg" width="16">#[_id]</td>
                    <td class="bottom_cfg" width="16"><a tabindex="2" href="?page=accs_update&id=[_id]" title="Редактировать"><img src="templates/img/icons/update.png" border="0"></a></td>
                    <td class="bottom_cfg"><strong>[_price] руб.</strong></td>
                    <td class="bottom_cfg" width="16"><a tabindex="2" href="?page=accs_update&del_post=[_id]" title="Удалить"><img src="templates/img/icons/delete.png" border="0"></a></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <table width="100%" border="0" cellpadding="5" cellspacing="0">
                            <tr>
                                <td width="125" class="bottom_cfg"><font>Сервер:</font></td>
                                <td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;"><font><strong>[_server]</strong></font></td>
                            </tr>
                            <tr>
                                <td width="125" class="bottom_cfg"><font>Логин аккаунта:</font></td>
                                <td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;"><font><strong>[_login_acc]</strong></font></td>
                            </tr>
                            <tr>
                                <td width="125" class="bottom_cfg"><font>Пароль аккаунта:</font></td>
                                <td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;"><font><strong>[_pass_acc]</strong></font></td>
                            </tr>
                            <tr>
                                <td width="125" class="bottom_cfg"><font>E-mail:</font></td>
                                <td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;"><font><strong>[_mail]</strong></font></td>
                            </tr>
                            <tr>
                                <td width="125"><font>Пароль E-mail:</font></td>
                                <td style="border-left:1px dashed #b0b0b0;"><font><strong>[_mail_pass]</strong></font></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    [_while]
</table>