<table class="block" width="100%" border="0" cellpadding="0" cellspacing="1">
	<tr>
		<td class="header_block" height="16"><font>Данные аккаунта #[_id]</font></td>
	</tr>
	<tr>
		<td class="body_block">
			<form action="?page=accs_config&id=[_id]" method="post" name="form">
			<table width="100%" border="0" cellpadding="5" cellspacing="0">
				<tr>				
					<td width="125" class="bottom_cfg"><font>Сервер:</font></td>
					<td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;"><font><strong>[_server]</strong></font></td>
				</tr>
				<tr>				
					<td width="125" class="bottom_cfg"><font>Логин аккаунта:</font></td>
					<td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;"><font><strong>[_login_acc]</strong></font></td>
				</tr>
				<tr>
					<td width="125" class="bottom_cfg"><font>Пароль аккаунта:</font></td>
					<td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;"><font><strong>[_pass_acc]</strong></font></td>
				</tr>
				<tr>
					<td width="125" class="bottom_cfg"><font>E-mail:</font></td>
					<td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;"><font><strong>[_mail]</strong></font></td>
				</tr>
				<tr>
					<td width="125" class="bottom_cfg"><font>Пароль E-mail:</font></td>
					<td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;"><font><strong>[_mail_pass]</strong></font></td>
				</tr>
				<tr>
					<td width="125" class="bottom_cfg"><font>Цена:</font></td>
					<td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;"><font><strong>[_price] руб.</strong></font></td>
				</tr>
				<tr>
					<td class="bottom_cfg"><font>Статус аккаунта:</font></td></td>
					<td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;">
						<select tabindex="1" name="cfgstatus">
							[_cfgstatus]
						</select>
					</td>
				</tr>
				<tr>
					<td width="125" class="bottom_cfg"><font>Кошелёк продавца:<br>Тип: <strong>[_wallet_type]</strong></font></td>
					<td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;"><font><strong>[_wallet]</strong></font></td>
				</tr>
				<tr>
					<td width="125" class="bottom_cfg"><font>Выплата:</font></td>
					<td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;"><font><strong>[_payout_price] руб.</strong></font></td>
				</tr>
				<tr>
					<td class="bottom_cfg"><font>Статус выплаты:</font></td></td>
					<td class="bottom_cfg" style="border-left:1px dashed #b0b0b0;">
						<select tabindex="1" name="cfgpayout">
							[_cfgpayment]
						</select>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="2">
						<input tabindex="1" class="button" type="submit" value="Сохранить"/>
					</td>
				</tr>	
			</table>
			</form>
		</td>
	</tr>
</table>