<table class="block" width="100%" border="0" cellpadding="0" cellspacing="1">
	<tr>
		<td class="header_block" height="16">Управление разделами</td>
		<td class="header_block" width="16" height="16"><a href="exit.php" title="Выход"><img src="templates/img/icons/logout.png" border="0"></a></td>
	</tr>
	<tr>
		<td colspan="2" class="body_block">
			<ul>
				<li class="menu_link"><a target="_self" href="?page=menu_list">Меню</a> <font>([_countMENU])</font></li>
				<li class="menu_link"><a target="_self" href="?page=news_list">Новости</a> <font>([_countNEWS])</font></li>
				<li class="menu_link"><strong>Каталог</strong>
					<font>| <a href="?page=accs_unverified" title="Новые">[_countNEW]</a> | <a href="?page=accs_verified" title="Одобренные">[_countSALE]</a> | <a href="?page=accs_sold" title="Проданные">[_countSOLD]</a> |</font>
				</li>
				<li class="menu_link"><strong>Отзывы</strong>
					<font>| <a target="_self" href="?page=reviews_unverified" title="Новые">[_countUNVERIFIED]</a> | <a target="_self" href="?page=reviews_verified" title="Одобренные">[_countVERIFIED]</a> |</font>
				</li>
				<li class="menu_link"><a target="_self" href="?page=config">Настройки</a></li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="header_block" height="16"><a target="_blank" href="../">Открыть страницу сайта</a></td>
	</tr>
</table>