<table class="block" width="100%" border="0" cellpadding="0" cellspacing="1">
	<tr>
		<td class="header_block" width="16" height="16"><a tabindex="1" href="?page=menu_add" title="Добавить"><img src="templates/img/icons/add.png" border="0px"></a></td>
		<td class="header_block" height="16"><font>Пользовательское меню</font></td>
	</tr>
	<tr>
		<td class="body_block" colspan="2" style="border-bottom: none;">
			<table width="100%" border="0" cellpadding="5" cellspacing="0">
		[_while]<tr>
					<td class="bottom_cfg" width="16" height="16">[_up]<a tabindex="2" href="?page=menu_update&up_menu=[_id]" title="Вверх"><img src="templates/img/icons/arrow_up.png" border="0px"></a>[_up]</td>
					<td class="bottom_cfg" width="16" height="16">[_down]<a tabindex="2" href="?page=menu_update&down_menu=[_id]" title="Вниз"><img src="templates/img/icons/arrow_down.png" border="0px"></a>[_down]</td>
					<td class="bottom_cfg" width="16" height="16"><a tabindex="2" href="?page=menu_update&id=[_id]" title="Редактировать"><img src="templates/img/icons/update.png" border="0"></a></td>
					<td class="bottom_cfg"><strong>[_name]</strong></td>
					<td class="bottom_cfg" width="16" height="16"><a tabindex="2" href="?page=menu_update&del_menu=[_id]" title="Удалить"><img src="templates/img/icons/delete.png" border="0px"></a></td>
				</tr>[_while]
			</table>
		</td>
	</tr>
</table>