<table class="block" width="100%" border="0" cellpadding="0" cellspacing="1">
	<tr>
		<td class="header_block" height="16"><font>Создать новую тему</font></td>
	</tr>
	<tr>
		<td class="body_block">
			<form action="?page=news_add" method="post" name="form">
			<table width="100%" border="0" cellpadding="5" cellspacing="0">
				<tr>				
					<td>
						<fieldset class="fieldset">
							<legend class="fieldset">Заголовок</legend>
							<div align="center"><input tabindex="1" class="title" type="text" name="post_title" maxlength="255" value="" style="width:95%"/></div>
						</fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<fieldset class="fieldset">
							<legend class="fieldset">Сообщение</legend>
							<div align="center"><textarea tabindex="1" name="post_text" id="txt_post" rows="20" dir="ltr" style="width:95%"></textarea></div>
						</fieldset>
					</td>
				</tr>
				<tr>				
					<td>
						<fieldset class="fieldset">
							<legend class="fieldset">Описание статьи</legend>
							<div align="center"><input tabindex="1" type="text" name="post_metad" value="" style="width:95%"/></div>
						</fieldset>
					</td>
				</tr>
				<tr>				
					<td>
						<fieldset class="fieldset">
							<legend class="fieldset">Ключевые слова</legend>
							<div align="center"><input tabindex="1" type="text" name="post_metak" value="" style="width:95%"/></div>
						</fieldset>
					</td>
				</tr>
				<tr>
					<td align="center">
						<input tabindex="1" class="button" type="submit" value="Сохранить"/>
					</td>
				</tr>	
			</table>
		</td>
	</tr>
</table>