<table class="block" width="100%" border="0" cellpadding="0" cellspacing="1">
    <tr>
        <td class="header_block" height="16"><font>Редактировать тему #[_id]</font></td>
    </tr>
    <tr>
        <td class="body_block">
            <form action="?page=news_update" method="post" name="form">
                <input name="update_post_id" type="hidden" value="[_id]">
                <table width="100%" border="0" cellpadding="5" cellspacing="0">
                    <tr>
                        <td>
                            <fieldset class="fieldset">
                                <legend class="fieldset">Заголовок</legend>
                                <div align="center"><input tabindex="1" class="title" type="text" name="update_post_title" maxlength="255" value="[_title]" style="width:95%"/></div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <fieldset class="fieldset">
                                <legend class="fieldset">Сообщение</legend>
                                <div align="center"><textarea tabindex="1" name="update_post_text" id="post_text" rows="20" dir="ltr" style="width:95%">[_text]</textarea></div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <fieldset class="fieldset">
                                <legend class="fieldset">Описание статьи</legend>
                                <div align="center"><input tabindex="1" type="text" name="update_post_metad" value="[_metad]" style="width:95%"/></div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <fieldset class="fieldset">
                                <legend class="fieldset">Ключевые слова</legend>
                                <div align="center"><input tabindex="1" type="text" name="update_post_metak" value="[_metak]" style="width:95%"/></div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input tabindex="1" class="button" type="submit" value="Сохранить"/>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>