<table class="block" width="100%" border="0" cellpadding="0" cellspacing="1">
    <tr>
        <td class="header_block" height="16"><font>Одобренные отзывы</font></td>
    </tr>
    [_while]
    <tr>
        <td class="body_block">
            <table width="100%" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td class="bottom_cfg" width="16" height="16"><a tabindex="1" href="?page=reviews_update&id=[_id]" title="Редактировать"><img src="templates/img/icons/update.png" border="0"></a></td>
                    <td class="bottom_cfg"><strong>[_title]</strong></td>
                    <td class="bottom_cfg" width="125" align="center">[_post_date]</td>
                    <td class="bottom_cfg" width="16" height="16"><a tabindex="1" href="?page=reviews_verified&del_post=[_id]" title="Удалить"><img src="templates/img/icons/delete.png" border="0px"></a></td>
                </tr>
                <tr>
                    <td colspan="4"><blockquote><strong>Отзыв пользователя - </strong>[_author]:<br>[_user_text]<br><blockquote><strong>Ответ Администратора:</strong><br>[_admin_text]</blockquote></blockquote></td>
                </tr>
            </table>
        </td>
    </tr>
    [_while]
</table>