<div class="padding_bottom">
    <table class="block" width="100%" border="0" cellpadding="0" cellspacing="1" align="center">
        <tr>
            <td class="header_block"><font>Описание аккаунта #[_id]</font></td>
        </tr>
        <tr>
            <td class="body_block">
                <table width="100%" border="0" cellpadding="10" cellspacing="0">
                    <tr>
                        <td colspan="2"><font class="title">[_title]</font></td>
                    </tr>
                    <tr>
                        <td width="256" align="center">
                            <div class="preview_header"></div>
                            <div class="preview_content">
                                <table width="100%" border="0" cellpadding="2" cellspacing="0">
                                    <tr>
                                        <td colspan="2" align="center">
                                            <object width="220" height="220" data="/templates/img/swf/[_preview_ship].swf" type="application/x-shockwave-flash">
                                                <param name="quality" value="high">
                                                <param name="wmode" value="transparent">
                                            </object>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="preview_seperator">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">[_button]
                                            <form action="/index.php?topic=1" method="post">
                                                <input class="buy" type="submit" value="[_price] руб.">
                                            </form>[_button]
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="preview_footer"></div>
                        </td>
                        <td rowspan="2" valign="top">[_more]<br>[_admin_text]</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<table class="block" width="100%" border="0" cellpadding="0" cellspacing="1" align="center">
    <tr>
        <td class="header_block"><font>Детальное описание</font></td>
    </tr>
    <tr>
        <td class="subtitle_block"><font>Основное</font></td>
    </tr>
    <tr>
        <td class="body_block">
            <blockquote>
                <table width="100%" border="0" cellpadding="2" cellspacing="0">
                    <tr><td width="25%"><font>Сервер:</font></td><td width="75%"><font>[_server]</font></td></tr>
                    <tr><td width="25%"><font>Компания:</font></td><td width="75%"><img src="/templates/img/[_corp].png" alt="[_corp]" title="[_corp]">&nbsp;[_corp]</td></tr>
                    <tr><td width="25%"><font>Игровой уровень:</font></td><td width="75%"><font>[_level]</font></td></tr>
                    [_drones]
                    [_rank]
                    [_exp]
                    [_honor]
                    [_uri]
                    [_cr]
                    [_jackpot]
                    [_prog]
                    [_hangar]
                    [_tech]
                </table>
            </blockquote>
        </td>
    </tr>
    [_armor]
    <tr>
        <td class="subtitle_block"><font>Оружие | Генераторы</font></td>
    </tr>
    <tr>
        <td class="body_block">
            <blockquote>
                <table width="100%" border="0" cellpadding="2" cellspacing="0">
                    [_lf3]
                    [_lf4]
                    [_g3n7900]
                    [_sg3nb02]
                </table>
            </blockquote>
        </td>
    </tr>
    [_armor]
    [_ammo]
    <tr>
        <td class="subtitle_block"><font>Боеприпасы</font></td>
    </tr>
    <tr>
        <td class="body_block">
            <blockquote>
                <table width="100%" border="0" cellpadding="2" cellspacing="0">
                    [_mcb25]
                    [_mcb50]
                    [_sab50]
                    [_ucb100]
                    [_rsb75]
                    [_cbo100]
                    [_job100]
                    [_plt2021]
                    [_plt3030]
                    [_dcr250]
                    [_hstrm01]
                    [_ubr100]
                    [_sar02]
                    [_cbr]
                    [_acm1]
                    [_empm01]
                    [_subm01]
                    [_ddm01]
                    [_slm01]
                    [_emp01]
                </table>
            </blockquote>
        </td>
    </tr>
    [_ammo]
</table>