<div class="padding_bottom">
	<table class="block" width="100%" border="0" cellpadding="0" cellspacing="1">
		<tr>
			<td class="header_block"><font>Статистика</font></td>
		</tr>
		<tr>
			<td class="body_block">
				<table width="100%" border="0" cellpadding="5" cellspacing="0">
					<tr>
						<td>Аккаунтов выставлено:</td>
						<td align="right">[_sell]</td>
					</tr>
					<tr>
						<td>Аккаунтов продано:</td>
						<td align="right">[_sold]</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>