<div class="padding_bottom">
    <table class="block" width="100%" border="0" cellpadding="5" cellspacing="1">
        <tr>
            <td colspan="6" class="header_block"><font>Проданные аккаунты</font></td>
        </tr>
        <tr align="center">
            <td class="subtitle_block" width="7%"><font>#</font></td>
            <td class="subtitle_block" width="7%">&nbsp;</td>
            <td class="subtitle_block" width="44%"><font>Заголовок</font></td>
            <td class="subtitle_block" width="14%"><font>Сервер</font></td>
            <td class="subtitle_block" width="14%"><font>Дата продажи</font></td>
            <td class="subtitle_block" width="14%"><font>Цена</font></td>
        </tr>
        [_div_sold]
        <tr align="center">
            <td class="column" width="7%"><font>[_id]</font></td>
            <td class="column" width="7%"><img src="/templates/img/design/[_preview_ship].png" width="100%"></td>
            <td class="column" width="44%" align="left"><a href="buy.php?id=[_id]" title="[_title]">[_title]</a></td>
            <td class="column" width="14%"><font>[_server]</font></td>
            <td class="column" width="14%"><font>[_sold_date]</font></td>
            <td class="column" width="14%"><strong><font>[_price] руб</font></strong></td>
        </tr>
        [_div_sold]
    </table>
</div>